@import "./variables";

mostrar-mas {
  width: 100%;
}

.mostrar-mas-componente {
  display: flex;
  flex-direction: column;

  .toggle-btn {
    padding: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;

    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $color-blue-dark;

    span {
      margin-right: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .contenido {
    font-size: toRem(15);
    line-height: 1.6;
    color: #444;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;

    &.open {
      max-height: 500px;
      opacity: 1;
    }
  }
}
