<div class="creditos-container">
    <creditos-section 
        title="{{title || 'Créditos'}}"
        subtitle="{{subtitle || 'Un Proyecto de RTVE.es'}}"
        text="{{text || 'Realizado por el equipo de diseño, desarrollo e infografía de RTVE.'}}"
        editor="{{editor || 'Elena Torres'}}"
        content="{{content || 'A través de una narrativa visual interactiva, proponemos una experiencia que no solo informa, sino que también invita a reflexionar sobre la memoria histórica, los derechos humanos y la necesidad de reparación.'}}">
    </creditos-section>
</div>
