@media (min-width: $breakpoint-mobile) {

    .mapa-fosas {
        width: 100%;
        background-color: $color-gray-light;
        margin-top: 160px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;

        &_content {
            width: 100%;
            height: 900px;
            display: flex;
            flex-direction: row;

            &.open { // LISTADO ABIERTO SOBRE MAPA
                .mapa-fosas_search {
                    position: relative;
                    min-width: 50%;
                    background: $text-color-primary;
                    top: 0;
                    left: 0;
                    padding: 37px 60px;
                }

                .mapa-fosas-searcher__result {
                    display: none;
                }

                .mapa-fosas-searcher__statusGraves {
                    background: transparent;
                    box-shadow: none;
                    padding-left: 0;
                }
            }
        }

        &_search {
            width: 400px;
            padding: 36px 0 0 60px;
            z-index: 10;

            &.vista-completa {
                position: absolute;
                top: 36px;
                left: 60px;
                width: 400px;
                padding: 0;
            }
        }

        &_map {
            flex: 1;
            height: 900px;
            background-color: $color-gray-light;
            display: flex;
            align-items: center;
            justify-content: center;

            &.vista-completa {
                width: 100%;
            }
        }

        .mapboxgl-canvas {
            width: 100% !important;
        }
    }

    .mapa-fosas-searcher {
        width: 400px;
        z-index: 1;

        .search-form-container {
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__btnFilter {
            width: 42px;
            height: 42px;
            border: 1px solid $color-gray-dark-2;
            background-color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
                width: 17px;
            }

            &.active {
                position: absolute;
                right: -42px;

                @media (max-width: 879px) {
                    background-color: #f0f0f0;
                }

                svg {
                    transform: scaleX(-1);
                }
            }
        }

        &__title {
            font-family: $font-primary;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: $text-color-secundary;
        }

        &__form {
            width: 344px;
            display: flex;
            border: 1px solid $color-gray-dark-2;
            border-radius: 4px;
            background-color: $color-white;

            label {
                display: none;
            }
        }

        &__input {
            height: 42px;
            padding-block: 0;
            padding-inline: 20px;
            border: none;
            background-color: transparent;
            font-size: 1rem;
            flex-grow: 1;
        }

        &__button {
            width: 48px;
            padding: 0;
            border: none;
            background-color: transparent;
        }

        &__result {
            height: 46px;
            display: flex;
            align-items: center;
            background-color: $color-primary;
            font-family: $font-primary;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $color-white;
            padding: 16px 14px;

            strong  {
                margin: 0 5px;
            }
        }

        &__statusGraves {
            padding: 16px 24px;
            background: $color-white;
            box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
        }

        &__statusTitle {
            font-size: 0.875rem;
            font-weight: 700;
            color: #333333;
            margin-block: 0;
        }

        &__statusTitleBtn {
            width: 100%;
            padding: 0;
            font-family: $font-primary;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $text-color-secundary;
            border: 0;
            background: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                transition: .6s;
            }

            &.active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__statusForm {
            fieldset {
                border: none;
                padding: 20px 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
            }

            legend {
                display: none;
            }
        }

        &__statusItem {
            display: inline-flex;
            align-items: center;
            gap: 0 4px;
        }

        &__statusLabel {
            font-family: $font-primary;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: $text-color-secundary;
        }

        &__statusCheck {
            width: 18px;
            height: 18px;
            margin: 0;
            border: 2px solid $color-gray-dark-2;
            appearance: none;
            border-radius: 2px;

            &:checked {
                background: url("/src/assets/check-white.svg") center center / 100% auto no-repeat;
                border: 0;
            }
        }

        &__statusBtn {
            width: 100%;
            height: 40px;
            border: 1px solid $color-gray-dark-2;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: $font-primary;
            font-weight: 400;
            font-size: 14px;
            line-height: 32px;
            color: $color-gray-dark-2;
            cursor: pointer;
        }
    }
}

@media (max-width: $breakpoint-mobile) {

    .mapa-fosas {
        width: 100%;
        background-color: $color-gray-light;
        margin-top: 160px;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_content {
            width: 100%;
            height: 900px;
            display: flex;
            flex-direction: column;
        }

        &_search {
            width: 100%;
            background-color: #F3EFEF;
            padding: 16px;
        }

        &_map {
            width: 100%;
            height: 100%;
            background-color: $color-gray-light;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mapboxgl-canvas {
            width: 100% !important;
        }
    }

    .mapa-fosas-searcher {
        width: 100%;
        position: relative;
        z-index: 1;

        .search-form-container {
            position: relative;
            margin-bottom: 8px;
        }

        &__btnFilter {

                            display: none;
            
            width: 42px;
            height: 100%;
            border: 1px solid $color-gray-dark-2;
            border-radius: 4px;
            background-color: transparent;
            position: absolute;
            top: 0;
            right: 0;
            /*display: flex;*/
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
                width: 17px;
            }

            &.active {
                // Cambiar color de fondo cuando está activo en lugar de mover posición
                background-color: #555555;

                @media (max-width: 879px) {
                    background-color: #f0f0f0;
                }

                svg {
                    transform: scaleX(-1);
                }
            }
        }

        &__title {
            font-family: $font-primary;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: $color-gray-dark-2;
            margin-top: 0;
        }

        &__form {
            width: 100%;
            display: flex;
            border: 1px solid $color-gray-dark-2;
            border-radius: 4px;
            background-color: $color-white;
            justify-content: space-between;

            label {
                display: none;
            }
        }

        &__input {
            min-width: 90%;
            height: 42px;
            padding: 20px;
            border: none;
            background-color: transparent;

            font-family: 'Public Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #AAAAAA;

        }

        &__button {
            width: 48px;
            padding: 0;
            border: none;
            background-color: transparent;
        }

        &__result {
            height: 46px;
            display: flex;
            align-items: center;
            background-color: $color-primary;
            font-family: $font-primary;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $color-white;
            padding: 16px 14px;

            strong  {
                margin: 0 5px;
            }
        }

        &__statusGraves {
            padding: 10px 0;
        }

        &__statusTitle {
            font-size: 0.875rem;
            font-weight: 700;
            color: #333333;
            margin-block: 0;
        }

        &__statusTitleBtn {
            padding: 0;
            font-family: $font-primary;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $text-color-secundary;
            border: 0;
            background: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                transition: .6s;
                margin-left: 13px;
            }

            &.active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__statusForm {
            fieldset {
                border: none;
                padding: 20px 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
            }

            legend {
                display: none;
            }
        }

        &__statusItem {
            display: inline-flex;
            align-items: center;
            gap: 0 4px;
        }

        &__statusLabel {
            font-family: $font-primary;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #606060;
        }

        &__statusCheck {
            width: 18px;
            height: 18px;
            margin: 0;
            border: 2px solid $color-gray-dark-2;
            appearance: none;
            border-radius: 2px;

            &:checked {
                background: url("/src/assets/check-white.svg") center center / 100% auto no-repeat;
                border: 0;
            }
        }

        &__statusBtn {
            width: 100%;
            height: 40px;
            border: 1px solid $color-gray-dark-2;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: $font-primary;
            font-weight: 400;
            font-size: 14px;
            line-height: 32px;
            color: $color-gray-dark-2;
            cursor: pointer;
        }
    }
}