{% extends '../layout/base.html' %}

{% block css %}
<link media="all" rel="stylesheet" href="https://css2.rtve.es/css/rtve.2023.noticias/bienes-patrimonio-diputados/styles.desktp.css" type="text/css">
<style>
      .preloader {
            z-index: 20000;
            position: fixed;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            bottom: 0;
      }
      .wrapper.mainbodier .extraBox-footer a {
            border-bottom: 0.1rem solid;
      }
</style>
{% block morecss %}
{% endblock %}
{% endblock %}



{% block metas %}
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
<meta name="robots" content="index, follow">

{% block title %}
{% if params.pagination.currentPage>1 && params.pagination.currentPage!=params.pagination.count  %}
<title>{{seo.title}} - Página {{params.pagination.currentPage}} de {{params.pagination.count}}</title>
{% else %}
<title>{{seo.title}}</title>
{% endif %}
{% endblock %}

{% if params.pagination.currentPage>1 && params.pagination.currentPage!=params.pagination.count  %}
<meta name="description"
      content="{{seo.description}}">
<meta name="DC.title"
      content="{{seo.title}} - Página {{params.pagination.currentPage}} de {{params.pagination.count}}">
{% else %}
<meta name="description"
      content="{{seo.description}}">
<meta name="DC.title" content="{{seo.title}}">
{% endif %}
<meta name="DC.creator" content="RTVE.es">
<meta name="DC.publisher" content="RTVE.es">
<meta name="DC.language" content="es">
<meta name="lang" content="es"/>
<meta name="author" content="RTVE.es"/>
<meta name="publisher" content="RTVE.es"/>
<meta property="og:site_name" content="RTVE.es">

{% if params.pagination.currentPage>1 && params.pagination.currentPage!=params.pagination.count  %}
<meta property="og:title"
      content="{{seo.title}} - Página {{params.pagination.currentPage}} de {{params.pagination.count}} ">
<meta property="og:description"
      content="{{seo.description}}"/>
{% else %}
<meta property="og:title" content="{{seo.title}}">
<meta property="og:description"
      content="{{seo.description}}"/>
{% endif %}

<meta name="keywords" content="{{seo.keywords}}"/>
<meta name="DC.description" lang="es" content="{{seo.description}}">
<meta name="DC.subject" content="{{seo.title}}">

<meta property="og:url" content="https://www.rtve.es/noticias/2023/declaracion-bienes-diputados-congreso/">
<meta property="og:image"
    content="https://css2.rtve.es/css/rtve.2023.noticias/bienes-patrimonio-diputados/i/img-seo.jpg">
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="78994661336" />
<meta property="article:publisher" content="https://www.facebook.com/rtve" />
<meta property="article:section" content="Actualidad" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@rtve" />
<meta property="twitter:image"
    content="https://css2.rtve.es/css/rtve.2023.noticias/bienes-patrimonio-diputados/i/img-seo.jpg">

<link rel="canonical" href="{{metas.canon}}"/>
{% if metas.prev %}
<link rel="prev" href="{{metas.prev}}"/>
{% endif %}
{% if metas.next %}
<link rel="next" href="{{metas.next}}"/>
{% endif %}


{% endblock %}

{% block accessibility %}
{% endblock %}

{% block header %}
<!--#include virtual="/modulos/cabecera/pf/825" -->
{% endblock %}

{% block bodier %}
{% endblock %}

{% block js %}
<!-- build:template
    <script data-main="{{jsUrl}}/pages/<%= distName %>/<%= version %>/js/config" src="{{jsUrl}}/pages/<%= distName %>/<%= version %>/js/vendor/require.js" ></script>
    /build -->

<!-- build:remove:dist /js/config -->
    <script data-main="/js/config" src="/js/vendor/require.js"></script>
<!-- /build -->
{% endblock %}

{% block footer %}
<!--#include virtual="/comunes/cabecera/rediseno_2014/portada_2014_footer_html.inc?referer={{pfPath}}"-->
{% endblock %}